/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
/* @import url("https://fonts.googleapis.com/css?family=Audiowide"); */
/* @import url('https://fonts.googleapis.com/css?family=Inter'); */

body {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Audiowide', sans-serif; */
  
  font-family: 'Inter', sans-serif;
margin:'0' ;
padding: '0';

} 

